{
    "users": [
        {
            "id": 0,
            "name": "exampleuser",
            "send-info": true,
            "send-data": 12,
            "send-time-h": 7,
            "send-time-m": 30
        },
        {
            "id": 1,
            "name": "placeholder",
            "send-info": false,
            "send-data": null,
            "send-time-h": null,
            "send-time-m": null
        }
    ]
}